
html, body {
  height: 100%;
}

body {
  background: #f9f9f9;
  color: #555459;
}

#root {
  display: flex;
  height: 100%;
}

.card {
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border: 1px solid #e8e8e8;
}
